In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('bills.xlsx', index_col=None)

In [151]:
df = df.dropna()

In [152]:
# service column
df = df[df['service'] != '-']

In [153]:
# number column
df = df[df.number.astype(str).str.isnumeric()]

In [8]:
list(df.columns)

['client_name', 'client_org', '№', 'sum', 'date', 'service']

In [134]:
df[df['sum'].astype(str).str.replace(',', '.').apply(is_float)]

,client_name,client_org,number,sum,date,service
0,client1,OOO Client1Org1,1,10000,2021-04-01,вызов врача на дом
1,client1,OOO Client1Org1,2,3333,2021-04-02,прием терапевта повторный
3,client1,OOO Client1Org1,4,10000,2021-04-04,прием гинеколога первичный
4,client1,OOO Client1Org1,5,10000,2021-04-05,забор биоматериала
5,client1,OOO Client1Org1,6,10000,2021-04-06,прием терапевта гастроэнтеролога первичный
6,client1,OOO Client1Org1,7,10000,2021-04-07,прием уролога первичный
7,client1,OOO Client1Org1,8,5555,2021-04-08,общий ;клинический; анализ крови развернутый
9,client1,OOO Client1Org1,10,"1111,1",2021-04-10,забор биоматериала
10,client1,OOO Client1Org1,11,10000,2020-04-11,общий ;клинический; анализ крови развернутый
11,client1,OOO Client1Org1,12,10000,2021-04-12,с реактивный белок
12,client1,OOO Client1Org1,13,10000,2021-04-13,прием терапевта повторный
13,client1,OOO Client1Org1,14,33333,2021-04-14,прием терапевта повторный
14,client1,OOO Client1Org1,15,10000,2021-04-15,прием терапевта первичный
16,client1,OOO Client1Org1,17,3453.45,2021-04-17,взятие крови из периферической вены
17,client1,OOO Client1Org1,18,5555,2023-04-18,общий ;клинический; анализ крови развернутый
18,client1,OOO Client1Org1,19,555,2021-04-19,общий ;клинический; анализ мочи оам
19,client1,OOO Client1Org1,20,6789,2021-05-11,прием терапевта гастроэнтеролога первичный
21,client2,OOO Client2Org1,2,10000,2013-04-22,вызов врача на дом
22,client2,OOO Client2Org1,3,1,2020-03-01,забор биоматериала

In [207]:
# process sum
df['sum'] = df['sum'].apply(lambda value: str(value).replace(',', '.'))
df = df[pd.to_numeric(df['sum'], errors='coerce').apply(np.isfinite)]

,client_name,client_org,number,sum,date,service
0,client1,OOO Client1Org1,1,10000,2021-04-01,вызов врача на дом
1,client1,OOO Client1Org1,2,3333,2021-04-02,прием терапевта повторный
3,client1,OOO Client1Org1,4,10000,2021-04-04,прием гинеколога первичный
4,client1,OOO Client1Org1,5,10000,2021-04-05,забор биоматериала
5,client1,OOO Client1Org1,6,10000,2021-04-06,прием терапевта гастроэнтеролога первичный
6,client1,OOO Client1Org1,7,10000,2021-04-07,прием уролога первичный
7,client1,OOO Client1Org1,8,5555,2021-04-08,общий ;клинический; анализ крови развернутый
9,client1,OOO Client1Org1,10,1111.1,2021-04-10,забор биоматериала
10,client1,OOO Client1Org1,11,10000,2020-04-11,общий ;клинический; анализ крови развернутый
11,client1,OOO Client1Org1,12,10000,2021-04-12,с реактивный белок
12,client1,OOO Client1Org1,13,10000,2021-04-13,прием терапевта повторный
13,client1,OOO Client1Org1,14,33333,2021-04-14,прием терапевта повторный
14,client1,OOO Client1Org1,15,10000,2021-04-15,прием терапевта первичный
16,client1,OOO Client1Org1,17,3453.45,2021-04-17,взятие крови из периферической вены
17,client1,OOO Client1Org1,18,5555,2023-04-18,общий ;клинический; анализ крови развернутый
18,client1,OOO Client1Org1,19,555,2021-04-19,общий ;клинический; анализ мочи оам
19,client1,OOO Client1Org1,20,6789,2021-05-11,прием терапевта гастроэнтеролога первичный
21,client2,OOO Client2Org1,2,10000,2013-04-22,вызов врача на дом
22,client2,OOO Client2Org1,3,1,2020-03-01,забор биоматериала

In [220]:
temp = df.copy()

In [221]:
temp['date'] = pd.to_datetime(df['date'], errors='coerce')

In [ ]:
len(temp)

In [227]:
def _process_service_column(df: pd.DataFrame) -> pd.DataFrame:
    return df[df['service'] != '-']


def _process_number_column(df: pd.DataFrame) -> pd.DataFrame:
    return df[df.number.astype(str).str.isnumeric()]


def _process_sum_column(df: pd.DataFrame) -> pd.DataFrame:
    df['sum'] = df['sum'].apply(lambda value: str(value).replace(',', '.'))
    df = df[pd.to_numeric(df['sum'], errors='coerce').apply(np.isfinite)]
    return df


def _process_date_column(df: pd.DataFrame) -> pd.DataFrame:
    df['date'] = pd.to_datetime(df['date'], errors='coerce')
    return df.dropna()


def process_bills_dataframe(df: pd.DataFrame) -> pd.DataFrame:
    df = df.dropna()
    df = df.rename(columns={'№': 'number'})
    df = _process_service_column(df)
    df = _process_number_column(df)
    df = _process_sum_column(df)
    df = _process_date_column(df)
    return df

In [229]:
df = process_bills_dataframe(df)
df

,client_name,client_org,number,sum,date,service
0,client1,OOO Client1Org1,1,10000,2021-04-01,вызов врача на дом
1,client1,OOO Client1Org1,2,3333,2021-04-02,прием терапевта повторный
3,client1,OOO Client1Org1,4,10000,2021-04-04,прием гинеколога первичный
4,client1,OOO Client1Org1,5,10000,2021-04-05,забор биоматериала
5,client1,OOO Client1Org1,6,10000,2021-04-06,прием терапевта гастроэнтеролога первичный
6,client1,OOO Client1Org1,7,10000,2021-04-07,прием уролога первичный
7,client1,OOO Client1Org1,8,5555,2021-04-08,общий ;клинический; анализ крови развернутый
9,client1,OOO Client1Org1,10,1111.1,2021-04-10,забор биоматериала
10,client1,OOO Client1Org1,11,10000,2020-04-11,общий ;клинический; анализ крови развернутый
11,client1,OOO Client1Org1,12,10000,2021-04-12,с реактивный белок
12,client1,OOO Client1Org1,13,10000,2021-04-13,прием терапевта повторный
13,client1,OOO Client1Org1,14,33333,2021-04-14,прием терапевта повторный
16,client1,OOO Client1Org1,17,3453.45,2021-04-17,взятие крови из периферической вены
17,client1,OOO Client1Org1,18,5555,2023-04-18,общий ;клинический; анализ крови развернутый
18,client1,OOO Client1Org1,19,555,2021-04-19,общий ;клинический; анализ мочи оам
19,client1,OOO Client1Org1,20,6789,2021-05-11,прием терапевта гастроэнтеролога первичный
21,client2,OOO Client2Org1,2,10000,2013-04-22,вызов врача на дом
22,client2,OOO Client2Org1,3,1,2020-03-01,забор биоматериала

In [233]:
df['date'] = df['date'].dt.date
df

,client_name,client_org,number,sum,date,service
0,client1,OOO Client1Org1,1,10000,2021-04-01,вызов врача на дом
1,client1,OOO Client1Org1,2,3333,2021-04-02,прием терапевта повторный
3,client1,OOO Client1Org1,4,10000,2021-04-04,прием гинеколога первичный
4,client1,OOO Client1Org1,5,10000,2021-04-05,забор биоматериала
5,client1,OOO Client1Org1,6,10000,2021-04-06,прием терапевта гастроэнтеролога первичный
6,client1,OOO Client1Org1,7,10000,2021-04-07,прием уролога первичный
7,client1,OOO Client1Org1,8,5555,2021-04-08,общий ;клинический; анализ крови развернутый
9,client1,OOO Client1Org1,10,1111.1,2021-04-10,забор биоматериала
10,client1,OOO Client1Org1,11,10000,2020-04-11,общий ;клинический; анализ крови развернутый
11,client1,OOO Client1Org1,12,10000,2021-04-12,с реактивный белок
12,client1,OOO Client1Org1,13,10000,2021-04-13,прием терапевта повторный
13,client1,OOO Client1Org1,14,33333,2021-04-14,прием терапевта повторный
16,client1,OOO Client1Org1,17,3453.45,2021-04-17,взятие крови из периферической вены
17,client1,OOO Client1Org1,18,5555,2023-04-18,общий ;клинический; анализ крови развернутый
18,client1,OOO Client1Org1,19,555,2021-04-19,общий ;клинический; анализ мочи оам
19,client1,OOO Client1Org1,20,6789,2021-05-11,прием терапевта гастроэнтеролога первичный
21,client2,OOO Client2Org1,2,10000,2013-04-22,вызов врача на дом
22,client2,OOO Client2Org1,3,1,2020-03-01,забор биоматериала

In [234]:
df['date']

0     2021-04-01
1     2021-04-02
3     2021-04-04
4     2021-04-05
5     2021-04-06
6     2021-04-07
7     2021-04-08
9     2021-04-10
10    2020-04-11
11    2021-04-12
12    2021-04-13
13    2021-04-14
16    2021-04-17
17    2023-04-18
18    2021-04-19
19    2021-05-11
21    2013-04-22
22    2020-03-01
Name: date, dtype: object

In [9]:
EXCEL_COLUMNS_MAPPING = {
    'client1': {
        'client_name': 'client_name',
        'client_org': 'client_org',
        '№': 'number',
        'sum': 'sum',
        'date': 'date',
        'service': 'service'
    },
    'client2': {
        'client': 'client_name',
        'organization': 'client_org',
        'bill_number': 'number',
        'total_sum': 'sum',
        'created_date': 'date',
        'service_name': 'service'
    },
    'client3': {
        'client_code': 'client_name',
        'client_org_name': 'client_org',
        'number': 'number',
        'total': 'sum',
        'created': 'date',
        'service': 'service'
    }
}

In [23]:
df_colums = sorted(df.columns)
for client in EXCEL_COLUMNS_MAPPING:
    
    print(sorted(EXCEL_COLUMNS_MAPPING[client].keys()) == df_colums)

True
False
False

In [22]:
['client_name', 'client_org', 'date', 'service', 'sum', '№'] == ['client_name', 'client_org', 'date', 'service', 'sum', '№']

True

In [24]:
[1, 2, 3] == [1, 3, 2]

False